:root {
  --bg: white;
  --textColor: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 30px;
  padding-right: 30px;
}
.wrapper.background {
  background-color: #f2f5fa;
}
