.featured {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  position: relative;

  font-family: "Open Sans", sans-serif;
}
.text {
  color: #13316d;
  font-weight: normal;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.button {
  width: 180px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  padding: 15px 18px;
  margin-top: 50px;
  background-color: #1071f2;
  color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  border: none;
  cursor: pointer;
}

.img {
  margin-top: 40px;
  width: 400px;
  height: max-content;
  margin-left: 50px;
}
.text h1 {
  line-height: 50px;
  font-weight: 600;
  margin-top: 50px;
  color: #414a4d;
  font-size: 35px;
  font-family: "Quicksand";
}

.link {
  position: absolute;

  bottom: 60px;
  transition: 0.5s all ease;
}
.link:hover {
  transform: scale(1.08);
}
